<div class="main row d-flex align-items-center justify-content-center flex-collumn" style="height:100vh">
    <h4 class="text-center text-black text-uppercase col-sm-12">
        ERROR: The Page you request doesnt exist. Please comeback and try again
    </h4>
    <button class="btn btn-danger">
        <a class="text-white text-center" href="/">Back to Home</a>
    </button>
</div>