<h1>CRAWL DATA FROM FACEBOOK AND ZALO</h1>
<h3>Choose one to continue: </h3>
<ul class="service-list list-style-none text-black" style="font-size: 18px;">
    <li class="list-group-item">
        <a href="/crawl-friends-facebook">Crawl friends from Facebook</a>
    </li>
    <li class="list-group-item">
        <a href="/group-members-zalo">Crawl specific group members from zalo</a>
    </li>
    <li class="list-group-item">
        <a href="/crawl-groups-zalo">Crawl groups from Zalo</a>
    </li>
    <li class="list-group-item">
        <a href="/check-zalo-name">Check zalo name by phone number</a>
    </li>
    <li class="list-group-item">
        <a href="/auto-chat-zalo">Auto send message(s) to friend(s) by phone number, to group by group name</a>
    </li>
</ul